<div class="bg-white py-4 bs-default" style="width: 97%; margin: 20px auto 0; border-radius:30px; drop">
    <div class=" container-fluid" style="display: flex;">
        <div class="col-md-2 p-0" style="border-radius: 50%; overflow:hidden;">
            <img class="w-100" height="auto" src="{{response.data.profile_picture}}" alt="">
        </div>
        <div class="col-md-10" style="display: flex; justify-content:center; flex-direction:column;">
            <h1>{{response.data.store_name}}</h1>
            <h4>{{response.data.username}}</h4>
        </div>
    </div>
</div>
<div class="bg-white p-4 bs-default" style="width: 97%; margin: 20px auto 0; border-radius:30px; drop">
    <div class=" container-fluid" style="display: flex;">
        <div class="col-md-6 py-5" style="border-right: 1px solid gray; display: flex; justify-content:center;">
            minhas vendas no mês
        </div>
        <div class="col-md-6 py-5" style="display: flex; justify-content:center;">
            produtos cadastrados
        </div>
    </div>
    <img width="80%" src="/assets/grafico.png" alt="" style="margin: 10px auto 0;">
</div>