.upload-result{
    background:#40C075 ;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    display: none;
}
.upFoto, .editbtn{
    background-color: #40C075;
    color: white;
    height: 44px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 0 10px;
    min-width: 190px;
    position: relative;
    cursor: pointer;


    border: none;
    justify-content: center;

}
.upload-demo-wrap{
    height: auto !important ;
}
#fotoInput2{
    position: absolute;
    width: 100%;
    height: 44px;
    max-width: 800px;
    opacity: 0;
    cursor: pointer;
    border:none;
    color: blue;
}
.containerButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px;
    width: 50%;
    /* margin-top: 50px; */
}
@media(max-width:650px){
    .containerButtons{
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.containerButtons button{
    width: 100%;
    margin-top: 5px;
}
    
    
}
.containerButtons .actions .rotates-button{
    display: flex;

}
.vanilla-rotate{
    background-color: #40C075 !important;
    margin: 5px;
    color: white;
    font-weight: 600;
    padding: 10px;
}
.dropodowncrop{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.829);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    top: 0;
}
.closeDropD{
    margin: 0 auto 20px 20px;
    padding: 5px 10px;
    border: 4px solid white;
    border-radius: 50%;
    font-weight: 900;
    font-size: 20px;
    color: white;
}