:root{
    font-size: 60%;

    --color-primary:#08418B;
    --color-secundary:#002F6C;
    --color-button:#00B031;
    --color-button-dark:#01a02e;
    --colo-background:#F0F0F7;
    --color-box-base:#ffffff;
    --color-title-in-primary:#ffffff;
    --color-title-in-white:#131313;
    --colo-text:#131313;
    --color-mockup:rgb(170, 170, 170);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto !important;
    max-width: 700px !important;
    background: var(--colo-background) !important;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
input,
button,
textarea{
    font: 500 1.6rem roboto;
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-primary) !important;
}

.bg-primary{
    background-color: var(--color-primary) !important;
}
.c-primary{
    color: var(--color-primary);
}

p{
    font-size: 1.4rem !important;
}

.container{
    width: 90%;
    max-width: 1530px;
}

.bs-default{
    box-shadow: 0px 4px 12px -6px rgba(0,0,0,0.51);
}

@media (min-width:700px){
    :root{
        font-size: 62.5%;
    }
}
